* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./mixin/font.scss";
$open-sans: 'Open Sans', sans-serif;
$header-text-color_1: #656565;
$header-text-color_2: #ffffff;
$price-color: #7db122;

body{
    @include font($header-text-color_1, 14px);
    // min-width: 1400px;
}

////////////////////////////////////////////////////////////////////////////////////////////////
///Header - шапка сайта
////////////////////////////////////////////////////////////////////////////////////////////////

.header{
    

.under-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    height: 43px;
    background-color: #4cb1ca;
    @include font($header-text-color_2, 13px)
}

.personal-account {
    a {
        text-decoration: none;
        @include font($header-text-color_2, 13px);
        border-left: 1px solid $header-text-color_2;
        padding: 5px;
        &:first-child {
            border-left: none;
        }
    }
}
.navbar-header {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin: 0 15%;
    height: 100px;
    background-color: $header-text-color_2;
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            margin-right: 20px;
            color: $header-text-color_1;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;            
            font-size: 14px;
            &:last-child {
                margin-right: 0;
            }
        }
        .logo {
            @include font($header-text-color_1, 36px);
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 50px;
            font-weight: 700;
        }
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        .find {
            border: 1px solid #c6c6c6;
            border-radius: 10%;
            background-color: #c6c6c6;
            width: 50px;
            height: 29px;
            font-size: 15px;
            margin-left: 10px;
        }

        input {            
            width: 174px;
            height: 29px;            
            border: 1px solid #c6c6c6;
            background-color: #ffffff;
        }
    }

    .cart-block {
        display: flex;
        align-items: center;
        i{
            background-color: #7db122;
            border: 1px solid #7db122;
            border-radius: 50%;
            width: 35px;
            height: 35px;            
        }

        .fas {
            color: $header-text-color_2;
            text-align: center;
            padding-top: 8px;
            font-size: 20px;
            margin-left: 8px;
        }

        .cart {
            margin-left: 21px;
            text-decoration: none;
            text-transform: uppercase;
            color: $header-text-color_1;
            font-weight: 700;
        }
    }
}
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 475px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 475px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 50px;
}

.slider .prev {
    left: 10%;
}

.slider .next {
    right: 10%;
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.5);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
    padding-right: 10px;
    padding-left: 10px;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


@import "./media/_media.scss";
}

////////////////////////////////////////////////////////////////////////////////////////////////
///Section - content контент сайта
////////////////////////////////////////////////////////////////////////////////////////////////
.section_content{
    margin-left: 10%;
    // min-width: 100vh;
    .content_h3 {
        text-transform: uppercase;
        @include font ($header-text-color_1, 24px);
        font-weight: 400;
        letter-spacing: -0.24px;
    }
.wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    aside {
        flex: 0 0 calc( 20% - 20px );
        // padding-right: 50px;
    }
    .sidebar {
        min-height: 445px;
        max-width: 260px;
        margin-right: 20px;
        
        box-shadow: 0 0 5px #eaeaea;
        border: 13px solid #ffffff;
        background-color: #ffffff;
        
        border-top: 5px solid #5fb8ce;
        
        .sidebar_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                text-transform: uppercase;
                text-align: center;
                @include font ($header-text-color_1, 24px);
                font-weight: 600;
            }

            a {
                position: absolute;
                text-decoration: none;
                border: 1px solid #4cb1ca;
                padding: 10px 15px;
                color: $header-text-color_2;
                background-color: #4cb1ca;
                margin-top: 180px;
            }
        }
    }
    .sidebar_subscribe{
        box-shadow: 0 0 5px #eaeaea;
        border: 13px solid #ffffff;
        background-color: #ffffff;
        width: 260px;
        height: 281px;
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 5px solid #5fb8ce;

        h3 {
            text-align: center;
            @include font ($header-text-color_1, 24px);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 23px;
        }

        span {
            text-align: center;
            margin-bottom: 11px;
        }

        hr {
            width: 85px;
            height: 1px;
            background-color: #ededed;
            opacity: 0.2;
        }

        input {
            margin-top: 14px;
            width: 185px;
            height: 29px;
            border: 1px solid rgba(198, 198, 198, 0.5);
            background-color: #ffffff;
        }
        
        a {
            padding: 10px 15px;
            text-decoration: none;
            background-color: #7eb123;
            margin-top: 18px;
            color: $header-text-color_2;
        }
    }
    .item_products {
        flex: 1 0 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;

        .products {
            padding: 15px;
            flex: 0 0 calc( 20% - 30px );
            min-width: 300px;
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 5px #eaeaea;
            border: 8px solid #ffffff;
            background-color: #ffffff;
            margin-right: 15px;
            margin-bottom: 29px;
            margin-top: 24px;

            .product_ {
                flex: 1;
                min-height: 318px;
                min-width: 233px;
                
                .item-img{
                    height: 229px;
                    max-width: 233px;
                    margin-left: 15px;
                    margin-top: 30px;
                    
                    
                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                
                .price {
                    @include font($price-color, 18px);
                    font-weight: 400;
                    line-height: 22px;
                }

                .fa-shopping-basket {
                    position: absolute;
                    font-size: 35px;
                    background-color: #7db122;
                    padding: 10px;
                    border-radius: 50%;
                    margin-left: 200px;
                    color: $header-text-color_2;
                    // margin-bottom: 20px;
                }
            }
        }
    }
}
// @import "./media/_media_section.scss";
}
// @import "./media/_media.scss";
@import "./media/_media_section.scss";


////////////////////////////////////////////////////////////////////////////////////////////////
///Footer - подвал сайта
////////////////////////////////////////////////////////////////////////////////////////////////
.footer {
    .footer_info {
        height: 106px;
        background-color: #4cb1ca;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: $header-text-color_2;
            font-size: 21px;
            font-weight: 400;
            text-transform: uppercase;
            margin-right: 87px;
            &:last-child{
                margin-right: 0;
            }
        }
        
        .fas {
            color: #39a0b9;
            font-size: 35px;
            padding: 10px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 20px;
        }
    }

    .under__footer {
        display: flex;
        flex-direction: row;
        background-color: #39a0b9;
        justify-content: space-around;
        padding: 51px 8%;
        .facebook {
            display: flex;
            flex-direction: column;

            .__name {
                @include font($header-text-color_2, 20px);
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            span {
                color: $header-text-color_2;
                font-size: 13px;
            }

            a {
                margin-top: 6px;
            }

            hr {
                margin-bottom: 7px;
                width: 233px;
                height: 1px;
                background-color: #4cb1ca;
                opacity: 0.1;
                margin-top: 7px;
            }
        }

        .twitter {
            display: flex;
            flex-direction: column;

            .posts {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 31px;
                width: 290px;

                .fab {
                    margin-right: 24px;
                    color: #39a0b9;
                    font-size: 23px;
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                p {
                    color: $header-text-color_2;
                    font-size: 13px;
                }
            }
        }

        .information {
            display: flex;
            flex-direction: column;

            .info_post {
                margin-bottom: 7px;
                width: 200px;
                a {
                    text-decoration: none;
                    margin-left: 11px;
                    color: $header-text-color_2;
                    font-size: 13px;
                }
                i {
                    color: $header-text-color_2;
                }
            }
        }

        .contact_us {
            display: flex;
            flex-direction: column;

            p {
                color: $header-text-color_2;
                line-height: 24px;
            }

            hr {
                width: 196px;
                height: 1px;
                background-color: #4cb1ca;
                opacity: 0.1;
                margin-top: 15px;
                margin-bottom: 18px;
            }

            a {
                text-decoration: none;
            }

            .fab {
                padding: 10px;
                background-color: #fff;
                border-radius: 50%;
                margin-right: 10px;
                color: #39a0b9;
            }
        }

        .__name {
            @include font($header-text-color_2, 20px);
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
    }

    .under-under_footer {
        height: 64px;
        background-color: #0b4b5a;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
           color: #8adcf0;
           font-size: 13px;
           font-weight: 400;
           line-height: 19px;      
        }

        .footer-nav {
            a {
                color: #8adcf0;
                text-decoration: none;
                border-right: 1px solid #8adcf0;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 400;
                line-height: 19px;
                &:last-child {
                    padding-left: 0;
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
    }
    @import "./media/media_footer";
}

